@*@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser*@
@{
    ViewBag.Title = "Assign Role To User";
}

<h2>Assign Role To User</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Seleccione el tipo de usuario", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
    <input type="submit" name="name" value="Crear Role" />
}
