
@{
    ViewBag.Title = "Compra Correcta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 ">
                <div class="card">
                    <div class="card-header  bg-dark text-white">
                        <h5 class="text-center">¡Información importante!</h5>
                    </div>
                    <div class="card-body">
                        <p  class="text-justify">Pase a recoger su gift card física en las Oficinas de Orion</p>
                        <br />
                        <p class=" text-justify"> Gracias por su compra!</p>
                    </div>
               
                    <div class="card-footer  bg-dark text-white">
                    <small class="nav-link text-center">Orion.com</small></div>
               
                </div>
            </div>
        </div>
    </div>

