@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron jumbotron-fluid Panel">
    <div class="container Center">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-sm-8 offset-sm-2 ">
                <h1 class="text-white"><strong>¿Buscando ofertas?</strong></h1>
                <h4 class="text-white">Encuentre las mejores ofertas aqui</h4>
                <div style="text-transform:uppercase;"><strong>@Html.ActionLink("Comprar ofertas ", "Index", "Productos", null, new { @class = "btn btn-info mainButton text-dark" })</strong></div>
            </div>
        </div>
    </div>
    <hr />
</div>






<div class="container-fluid contentOrion Panel ">

    <div class="row Center">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">
            <div class="text-white"><h2>Interesado en ver ofertas de USA?</h2></div>
            <div><a class="btn btn-info mainButton text-dark text-uppercase" href="https://www.oriondeals.com/"><strong>Llévame a Orion Deals!</strong></a></div>
        </div>
    </div>

</div>












