
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class=»navbar-collapse collapse»>
        <ul class=»nav navbar-nav»>
            <li>@Html.ActionLink("Enviar Correo","SendMailUser","SendEmail")</li>
        </ul>
    </div>
