@{
    ViewBag.Title = "Confirmacióm de cambio de contraseña";
}

<hgroup class="title">
    
</hgroup>

<div class="text-center row">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
        <h5>@ViewBag.Title.</h5>
        <hr />
        <p>
            Tu contraseña ha sido reestablecida @Html.ActionLink("Clic aqui para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-dark" })
        </p>
    </div>

</div>
